@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*, 
*::before, 
*::after {
  box-sizing: border-box;
  font-family: 'Roboto';
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}
.contributors {
    border-collapse: collapse;
    max-width: 1280px;
    border-spacing: 0;
        &__head-tr > th {
            color: #fff;
            text-align: left;
            padding: 1.5em 25px;
            background-color: #2f4268;
            &:first-child {
                border-radius: 20px 0 0 0;
            }
            &:last-child {
                border-radius: 0 20px 0 0;
            }
        }
        &__td {
            padding: .5em 20px;
            margin: 0;
            vertical-align: middle;
            &-image {
                width: 80px;
            }
        }
        &__tr {
            &:nth-child(even) {
                background-color: #eaeaea;
            }
            &:last-child > td:first-child {
                border-radius: 0 0 0 20px;
            }
            &:last-child > td:last-child {
                border-radius: 0 0 20px 0;
            }
        }
        &__account-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        &__account-url {
            text-decoration: none;
            color: #000;
        }
        &__contributions {
            text-align: center;
        }
        &__company-undef,
        &__location-undef,
        &__email-undef {
            padding-left: 40px;
        }
}
th[data-key = 'contributions'] {
    text-align: center;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .contributors, .contributors__head, .contributors__list, th, tr, td { 
        display: block; 
    }
    .contributors__head-tr { 
       display: none;
    }
    
    .contributors__tr { 
        border: 1px solid #ccc; 
        &:last-child > td:first-child {
            border-radius: 0;
        }
        &:last-child > td:last-child {
            border-radius: 0;
        }
    }
    
    .contributors__td { 
        border: none;
        border-bottom: 1px solid #ccc; 
        position: relative;
        padding-left: 50%;
        height: 30px;
    }
    .contributors__td-image {
        height: 80px;
        width: 100%;
        padding-left: 6px;
    }
    .contributors__contributions {
        text-align: unset;
        padding-left: 50%;
    }
    .contributors__td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    td:nth-of-type(2):before { content: "Username"; }
    td:nth-of-type(3):before { content: "Id"; }
    td:nth-of-type(4):before { content: "Github Link"; }
    td:nth-of-type(5):before { content: "Number of Contributions"; }
    td:nth-of-type(6):before { content: "Company"; }
    td:nth-of-type(7):before { content: "Address"; }
    td:nth-of-type(8):before { content: "Email"; }
}