$head-th_padding: 1.5em 25px;
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*, 
*::before, 
*::after {
  box-sizing: border-box;
  font-family: 'Roboto';
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}
.contributors {
    border-collapse: collapse;
    width: 90vw;
    border-spacing: 0;
        &__head-tr > th {
            color: #fff;
            text-align: left;
            padding: $head-th_padding;
            background-color: #2f4268;
            &:first-child {
                border-radius: 20px 0 0 0;
            }
            &:last-child {
                border-radius: 0 20px 0 0;
            }
        }
        &__td {
            padding: .5em 20px;
            margin: 0;
            vertical-align: middle;
            &-image {
                width: 80px;
            }
        }
        &__tr {
            &:nth-child(even) {
                background-color: #eaeaea;
            }
            &:last-child > td:first-child {
                border-radius: 0 0 0 20px;
            }
            &:last-child > td:last-child {
                border-radius: 0 0 20px 0;
            }
        }
        &__account-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        &__account-url {
            text-decoration: none;
            color: #000;
        }
        &__contributions {
            text-align: center;
        }
        &__company-undef,
        &__location-undef,
        &__email-undef {
            padding-left: 40px;
        }
        &_filtered {
            &_bronze {
                & .contributors__contributions_silver,
                & .contributors__contributions_gold {
                    display: none;
                }
            }
            &_silver {
                & .contributors__contributions_bronze,
                & .contributors__contributions_gold {
                    display: none;
                }
            }
            &_gold {
                & .contributors__contributions_bronze,
                & .contributors__contributions_silver {
                    display: none;
                }
            }
        }
}
th[data-key = 'contributions'] {
    text-align: center;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .contributors, .contributors__head, .contributors__list, th, tr, td { 
        display: block; 
    }
    .contributors__head-tr { 
       display: none;
    }
    
    .contributors__tr { 
        border: 1px solid #ccc; 
        &:last-child > td:first-child {
            border-radius: 0;
        }
        &:last-child > td:last-child {
            border-radius: 0;
        }
    }
    
    .contributors__td { @include contributors__td-responsive(none, 1px solid #ccc, relative, 50%, 30px); }
    .contributors__td:before { @include contributors__td_before-responsive(absolute, 10px, 45%, nowrap, 6px, 6px); }
    .contributors__td-image {
        height: 80px;
        width: 100%;
        padding-left: 6px;
    }
    .contributors__contributions {
        text-align: unset;
        padding-left: 50%;
    }
    .contributors__td:nth-of-type(2):before { content: "Username"; }
    .contributors__td:nth-of-type(3):before { content: "Id"; }
    .contributors__td:nth-of-type(4):before { content: "Github Link"; }
    .contributors__td:nth-of-type(5):before { content: "Number of Contributions"; }
    .contributors__td:nth-of-type(6):before { content: "Company"; }
    .contributors__td:nth-of-type(7):before { content: "Address"; }
    .contributors__td:nth-of-type(8):before { content: "Email"; }
}